 body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: rgba(250,250,250) 
 }
 .logo-image {
     width: 190px;
     height: 78px;
     overflow: hidden;
     margin-top: 5px;
 }
.nav-link {
    color: rgba(0,0,0,.54);
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 70px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
 }
.got img {
    width: 100%;
    margin-top: 120px;
    border-radius: 50px;
}
.desc h3 {
    color: #9e9e9e;
    margin-top: 120px;
    visibility: visible;
    font-size: 40px;
    line-height: 60px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.desc p{
    color: #8488c0;
    margin-left: 20px;
    margin-top: 50px;
    line-height: 30px;
    font-size: 18px;
}
.jumbotron{
    background-color: rgba(250,250,250);
}
.jumbotron h5{
    color: #8488c0; 
}
.jumbotron h4{
    color: #443c62;
}
.container h1{
    color: #556bff;
}
#about{
    background-color: rgba(250,250,250);
    background-repeat: no-repeat;
    width: 100%;
}

#aboutContent p{
    padding-top: 50px;
    color: #8488c0;
}

#aboutText{
    padding: 55px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 2px;
    color: white;
}


.aboutLogo{
    width: 400px;
    height: auto;
    margin-top: 30px;
}

#projects{
    background-color: rgb(250,250,250);
    
}

.projectsRow1{
    padding: 50px;
}

.projectsRow{
    padding: 30px;
}

.projectsText p{
    padding: 30px;
     font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #8488c0;
}

}

.projectsHeading{
    text-align: center;
    color: #556bff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
}

.location{
    margin-top: 100px;
}
.frame{
    box-shadow: 1px 1px 1px #888;
    border-radius: 20px;
}
.card {
    margin-top: 50px;
}
.hwork{
    padding: 30px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.8px;
   color: #8488c0;
}
#aboutContent h1{
    text-align: center;
    color: #556bff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
}