 body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: rgba(250,250,250) 
 }
 .logo-image {
     width: 190px;
     height: 78px;
     overflow: hidden;
     margin-top: 5px;
 }
.nav-link {
    color: rgba(0,0,0,.54);
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 70px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
 }
.got img {
    width: 100%;
    margin-top: 120px;
    border-radius: 50px;
}
.desc h3 {
    color: #9e9e9e;
    margin-top: 120px;
    visibility: visible;
    font-size: 40px;
    line-height: 60px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.desc p{
    color: #8488c0;
    margin-left: 20px;
    margin-top: 50px;
    line-height: 30px;
    font-size: 18px;
}
.jumbotron{
    background-color: rgba(250,250,250);
}
.jumbotron h5{
    color: #8488c0; 
}
.jumbotron h4{
    color: #443c62;
}
.container h1{
    color: #556bff;
}
#about{
    background-color: rgba(250,250,250);
    background-repeat: no-repeat;
    width: 100%;
}

#aboutContent p{
    padding-top: 50px;
    color: #8488c0;
}

#aboutText{
    padding: 55px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 2px;
    color: white;
}


.aboutLogo{
    width: 400px;
    height: auto;
    margin-top: 30px;
}

#projects{
    background-color: rgb(250,250,250);
    
}

.projectsRow1{
    padding: 50px;
}

.projectsRow{
    padding: 30px;
}

.projectsText p{
    padding: 30px;
     font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #8488c0;
}

}

.projectsHeading{
    text-align: center;
    color: #556bff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
}

.location{
    margin-top: 100px;
}
.frame{
    box-shadow: 1px 1px 1px #888;
    border-radius: 20px;
}
.card {
    margin-top: 50px;
}
.hwork{
    padding: 30px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.8px;
   color: #8488c0;
}
#aboutContent h1{
    text-align: center;
    color: #556bff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
}
.timeline {
    list-style: none;
    padding: 10px 0 10px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 0x;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #008CBA !important;
  }
  
  .timeline-badge.success {
    background-color: #43AC6A !important;
  }
  
  .timeline-badge.warning {
    background-color: #E99002 !important;
  }
  
  .timeline-badge.danger {
    background-color: #F04124 !important;
  }
  
  .timeline-badge.info {
    background-color: #5BC0DE !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }